/*______________max-width__1490px_____________*/
@media (max-width: 1490px) {
  .container {
    max-width: 1110px;
    padding: 0 33px 0 191px;
    margin: 0 auto;
  }
  .become-patron .container {
    padding: 0 33px;
  }
}
/*______________max-width__1250px_____________*/
@media (max-width: 1200px) {
  .header-menu {
    -ms-grid-rows: 22px 52px 22px;
    -ms-grid-columns: minmax(191px, 1fr) minmax(auto, 822px) minmax(33px, 1fr);
        grid-template: 22px 52px 22px/minmax(191px, 1fr) minmax(auto, 822px) minmax(33px, 1fr);
  }
  .header-menu__phone {
    margin-left: -105px;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 3;
    padding-left: 33px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*______________max-width__1127px_____________*/
@media (max-width: 1127px) {
  .become-patron__contacts {
    height: 160px;
  }
  .become-patron__contacts-column2 {
    height: 76px;
  }
  .become-patron .footer .container {
    max-width: 730px;
    padding: 0;
  }
}
/* Portrait tablets and small desktops_______________ max-width - 992px __________*/
@media (max-width: 992px) {
  .container {
    padding: 0 11.592% 0 19.254%;
  }
  .title {
    font-size: 48px;
    line-height: 65px;
  }
  .header-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-main__body {
    position: relative;
    z-index: 1;
    margin: 0;
  }
  .header-main__text {
    max-width: 690px;
    margin-right: 75px;
  }
  .header-main__poster {
    display: none;
  }
  .about-theatre__image {
    display: none;
  }
  .about-theatre__about-numbers {
    padding: 0;
  }
  .our-works {
    height: 1565px;
  }
  .our-works .overlay {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr minmax(auto, 10fr) 1fr;
        grid-template: 1fr 1fr 1fr/1fr minmax(auto, 10fr) 1fr;
    justify-items: center;
  }
  .our-works__body {
    max-width: 690px;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
    padding: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 156px 1fr;
        grid-template: 1fr/156px 1fr;
  }
  .our-works__title {
    margin-bottom: 100px;
  }
  .our-works__posters-row {
    margin-bottom: 150px;
    padding-right: 11.592%;
    padding-left: 19.254%;
  }
  .our-works__posters {
    overflow: hidden;
  }
  .our-works__description {
    padding-left: 24px;
  }
  .our-works__best-theatre {
    margin-bottom: 150px;
    height: 550px;
  }
  .theatre-partners {
    padding-right: 11.592%;
    padding-left: 19.254%;
  }
  .theatre-partners__title {
    margin-bottom: 121px;
  }
  .become-patron {
    padding-top: 192px;
  }
  .become-patron__title {
    margin-bottom: 100px;
  }
  .become-patron__body {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
        grid-template: 1fr/1fr;
    justify-items: center;
    padding-bottom: 80px;
  }
  .become-patron__form {
    -ms-grid-column: 1;
    grid-column: 1;
    max-width: 690px;
  }
  .become-patron__form-row1 {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: minmax(auto, 390px) 30px minmax(auto, 270px);
        grid-template: 1fr/minmax(auto, 390px) 30px minmax(auto, 270px);
  }
  .become-patron__contacts {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 59px;
  }
  .become-patron__contacts-column2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: end;
    height: 59px;
  }
}
/*_______________ max-width - 900px __________*/
@media (max-width: 900px) {
  header {
    min-height: 800px;
  }
  .header-menu {
    display: block;
    position: static;
    padding: 0;
    /*______________________burger____________________*/
  }
  .header-menu__menu {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: fixed;
    z-index: 3;
    left: -500px;
    width: 300px;
    height: 100%;
    background-color: #333333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-menu__links {
    overflow: auto;
    -ms-grid-row: 2;
    grid-row: 2;
    height: 700px;
  }
  .header-menu__links-list {
    margin: 50px 0 89px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 305px;
  }
  .header-menu__link {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.05em;
    margin-left: 39px;
  }
  .header-menu__link li {
    margin-bottom: 25px;
  }
  .header-menu__link:hover {
    border-bottom: none;
    -webkit-transform: none;
            transform: none;
  }
  .header-menu__social-media {
    -ms-grid-row: 3;
    grid-row: 3;
    height: 140px;
    width: 140px;
    display: block;
    position: relative;
    margin: 0 auto 50px;
  }
  .header-menu__social-media li {
    position: absolute;
  }
  .header-menu__social-media li:nth-child(1) {
    top: 0;
    left: 8.65px;
  }
  .header-menu__social-media li:nth-child(2) {
    top: 0;
    right: 0;
  }
  .header-menu__social-media li:nth-child(3) {
    right: 0;
    bottom: 3px;
  }
  .header-menu__social-media li:nth-child(4) {
    left: 0;
    bottom: 0;
  }
  .header-menu__phone {
    position: absolute;
    right: 4.582%;
    top: 56px;
  }
  .header-menu__number {
    right: 0;
    top: 0;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    position: relative;
    border-bottom: solid 2px #D1A954;
  }
  .header-menu__adaptive {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    z-index: 2;
    top: 38px;
    left: 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-menu__burger {
    position: relative;
    width: 26px;
    height: 20px;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    display: block;
  }
  .header-menu__burger::after, .header-menu__burger::before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #ffffff;
    left: 0;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .header-menu__burger::before {
    top: 0;
    width: 26.67px;
  }
  .header-menu__burger::after {
    bottom: 0;
    width: 12.3px;
  }
  .header-menu__burger span {
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    left: 0;
    top: 8.5px;
  }
  .header-menu__back {
    padding: 5px;
    position: absolute;
    top: 33px;
    right: 33px;
    width: 16px;
    height: 16px;
  }
  .header-menu__back::after, .header-menu__back::before {
    content: "";
    -webkit-transition: background-color 0s ease 0.3s, -webkit-transform 0.3s ease 0.3s;
    transition: background-color 0s ease 0.3s, -webkit-transform 0.3s ease 0.3s;
    transition: transform 0.3s ease 0.3s, background-color 0s ease 0.3s;
    transition: transform 0.3s ease 0.3s, background-color 0s ease 0.3s, -webkit-transform 0.3s ease 0.3s;
    position: absolute;
    height: 2px;
    background-color: #333333;
    left: 3px;
  }
  .header-menu__back::before {
    top: 5px;
    width: 20px;
    -webkit-transform: translate(0, 7px) rotate(0deg);
            transform: translate(0, 7px) rotate(0deg);
  }
  .header-menu__back::after {
    bottom: 5px;
    width: 20px;
    -webkit-transform: translate(0, -7px) rotate(0deg);
            transform: translate(0, -7px) rotate(0deg);
  }
  /*___________________burger-active_______________*/
  .active .header-menu__menu {
    left: 0;
  }
  .active .header-menu__burger::before {
    width: 12.3px;
  }
  .active .header-menu__burger::after {
    width: 26.67px;
  }
  .active .header-menu__back::after, .active .header-menu__back::before {
    background-color: #ffffff;
  }
  .active .header-menu__back::before {
    -webkit-transform: translate(0, 7px) rotate(45deg);
            transform: translate(0, 7px) rotate(45deg);
  }
  .active .header-menu__back::after {
    -webkit-transform: translate(0, -7px) rotate(-45deg);
            transform: translate(0, -7px) rotate(-45deg);
  }
  .header-main__body {
    margin: 0 auto;
  }
  .header-main__text {
    max-width: 540px;
    margin: 0;
  }
  .header-main__title {
    margin: 252px 0 1px;
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.05px;
  }
  .header-contacts {
    display: none;
  }
  .lock {
    overflow: hidden;
  }
}
/* Landscape phones and portrait tablets_____________ max-width - 768px __________*/
@media (max-width: 768px) {
  .container {
    padding: 0 4.582% 0 5.078%;
  }
  .about-theatre__title {
    padding: 90px 0 60px 0;
  }
  .our-works {
    height: 1405px;
  }
  .our-works .overlay {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr minmax(auto, 10fr) 1fr;
        grid-template: 1fr 1fr 1fr/1fr minmax(auto, 10fr) 1fr;
  }
  .our-works__title {
    margin-bottom: 60px;
  }
  .our-works__body {
    max-width: 540px;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
    padding: 0;
  }
  .our-works__posters-row {
    margin-bottom: 90px;
    padding-right: 4.582%;
    padding-left: 5.078%;
  }
  .our-works__text {
    font-size: 29px;
  }
  .our-works__best-theatre {
    margin-bottom: 90px;
  }
  .our-works__years {
    margin-right: 0px;
  }
  .theatre-partners {
    padding-right: 4.582%;
    padding-left: 5.078%;
  }
  .theatre-partners__title {
    margin-bottom: 72px;
  }
  .become-patron {
    padding-top: 162px;
  }
  .become-patron__title {
    margin-bottom: 60px;
  }
  .become-patron__body {
    padding-bottom: 60px;
  }
  .become-patron__form-row2 {
    padding-bottom: 60px;
  }
}
/*______________max-width__650px_____________*/
@media (max-width: 650px) {
  .become-patron__form {
    -ms-grid-rows: 230px 40px 1fr;
    -ms-grid-columns: 1fr;
        grid-template: 230px 40px 1fr/1fr;
  }
  .become-patron__form-row1 {
    -ms-grid-rows: 100px 30px 100px;
    -ms-grid-columns: 90vw;
        grid-template: 100px 30px 100px/90vw;
  }
  .become-patron__form-column1 {
    -ms-grid-rows: 35px 30px 35px;
    -ms-grid-columns: minmax(0, 1fr) 8.506% minmax(0, 1fr);
        grid-template: 35px 30px 35px/minmax(0, 1fr) 8.506% minmax(0, 1fr);
  }
  .become-patron__form-row2 {
    padding-bottom: 50px;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -ms-grid-rows: 50px 30px 1fr;
    -ms-grid-columns: 1fr;
        grid-template: 50px 30px 1fr/1fr;
  }
  .become-patron__form-text {
    text-align: center;
    -ms-grid-row: 3;
    grid-row: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .become-patron__form-column2 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
}
/* Portrait phones and smaller_______________________ max-width - 576px __________*/
@media (max-width: 576px) {
  header {
    min-height: 600px;
  }
  .header-main__title {
    margin: 160px 0 1px;
  }
  .about-theatre__title {
    padding: 90px 0 60px 0;
    line-height: 65px;
  }
  .about-theatre__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-theatre__best-theatre {
    max-width: 504px;
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
  }
  .about-theatre__body-title {
    text-align: center;
  }
  .about-theatre__about-numbers {
    max-width: 345px;
    margin: 0 auto;
  }
  .about-theatre__about-numbers-main {
    min-height: 102px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: minmax(auto, 175px) minmax(auto, 50px) minmax(auto, 120px);
        grid-template: 1fr/minmax(auto, 175px) minmax(auto, 50px) minmax(auto, 120px);
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .about-theatre__icon__icon {
    display: -ms-grid;
    display: grid;
    justify-items: center;
  }
  .about-theatre__icon:nth-child(2) {
    -ms-grid-column: 3;
    grid-column: 3;
  }
  .about-theatre__icon-chaird {
    margin-bottom: 0px;
  }
  .our-works {
    height: 1385px;
  }
  .our-works__text {
    font-size: 25px;
  }
  .our-works__posters-row {
    margin-bottom: 80px;
  }
  .our-works__best-theatre {
    margin-bottom: 80px;
  }
  .theatre-partners {
    padding-right: 5.199%;
    padding-left: 5.729%;
  }
  .become-patron {
    padding-top: 152px;
  }
}
/*______________max-width__550px_____________*/
@media (max-width: 550px) {
  .become-patron .container {
    padding-right: 5.199%;
    padding-left: 5.729%;
  }
  .become-patron__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 143px;
  }
  .become-patron__contacts-column2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
  }
}
/* Iphone 5__________________________________________ max-width - 320px __________*/
@media (max-width: 320px) {
  .about-theatre__about-numbers-main {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .about-theatre__icon {
    display: -ms-grid;
    display: grid;
    justify-items: center;
  }
  .our-works__description {
    padding-left: 0px;
  }
}
/*______________min-height__650px_____________*/
@media (min-height: 650px) {
  .header-menu__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}