@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url(../fonts/OpenSans_Condensed-Bold.ttf);
}
/*________________________modification__________________________*/
button, textarea, input {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  resize: none;
}

input::-webkit-input-placeholder {
  padding: 0;
}

input::-moz-placeholder {
  padding: 0;
}

input:-ms-input-placeholder {
  padding: 0;
}

input::-ms-input-placeholder {
  padding: 0;
}

button, textarea, input::placeholder {
  padding: 0;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

span {
  color: #D1A954;
}

.ibg {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 87px;
}

.text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.overlay {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(51, 51, 51, 0.9)), to(rgba(51, 51, 51, 0.9)));
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9));
}

body {
  background-color: #333333;
  font-family: "Open Sans Condensed";
  font-weight: 700;
  color: #FFFFFF;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1110px;
  padding: 0 33px;
  margin: 0 auto;
}

.nav-scrolled .header-menu {
  background: rgba(51, 51, 51, 0.5);
}

.adaptive-scrolled .header-menu__adaptive {
  background: rgba(51, 51, 51, 0.5);
}

/*________________________header__________________________*/
header {
  min-height: 1045px;
  background: url(../img/Rectangle\ 3.jpg) 0 0/cover no-repeat;
  position: relative;
}
header .overlay {
  position: absolute;
  width: 100%;
  height: 102%;
}

.header-menu {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  width: 100%;
  padding: 51px 0;
  padding-right: 33px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: minmax(191px, 1fr) 822px minmax(170px, 288px) minmax(33px, 1fr);
      grid-template: 1fr/minmax(191px, 1fr) 822px minmax(170px, 288px) minmax(33px, 1fr);
  position: fixed;
  z-index: 2;
  top: 0;
}
.header-menu__menu {
  -ms-grid-column: 2;
  grid-column: 2;
}
.header-menu__links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 822px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-menu__link {
  display: block;
  line-height: 22px;
  padding-bottom: 2px;
}
.header-menu__link:hover {
  border-bottom: solid 2px #D1A954;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}
.header-menu__social-media {
  display: none;
}
.header-menu__adaptive {
  display: none;
}
.header-menu__burger {
  display: none;
}
.header-menu__phone {
  z-index: 2;
  -ms-grid-column: 3;
  grid-column: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header-menu__number {
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: relative;
  max-width: 100%;
}

.header-main {
  position: relative;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: minmax(auto, 665px) 370px;
      grid-template: 1fr/minmax(auto, 665px) 370px;
}
.header-main__body {
  margin-right: 74px;
}
.header-main__title {
  margin: 384px 0 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 68px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.header-main__text {
  max-width: 591px;
  padding: 0 0 40px;
}
.header-main__text p {
  margin-bottom: 20px;
}
.header-main__text p:last-child {
  margin: 0;
}
.header-main__button {
  font-size: 18px;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.header-main__link {
  line-height: 50px;
  width: 160px;
  background: #D1A954;
  margin-bottom: 68px;
}
.header-main__poster {
  -ms-grid-column: 2;
  grid-column: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 267px 510px 36px 22px;
  -ms-grid-columns: 1fr;
      grid-template: 267px 510px 36px 22px/1fr;
  margin-bottom: 54px;
}
.header-main__image {
  -ms-grid-row: 2;
  grid-row: 2;
}
.header-main__posters-nav {
  -ms-grid-row: 4;
  grid-row: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.header-main__posters-nav span {
  display: block;
  line-height: 22px;
  color: #FFFFFF;
}
.header-main__posters-nav img {
  max-width: 40px;
}
.header-main__nav-previous {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-main__nav-previous img {
  padding-left: 10px;
}
.header-main__nav-next {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-main__nav-next img {
  padding-right: 10px;
}
.header-main .swiper {
  width: 370px;
  height: 510px;
}
.header-main .swiper-slide {
  width: 390px;
  height: 510px;
}
.header-main .swiper-slide-next {
  -webkit-transform: translate3d(-350px, 20px, 100px) !important;
          transform: translate3d(-350px, 20px, 100px) !important;
  z-index: -1;
}
.header-main .swiper-slide-prev {
  -webkit-transform: translate3d(390px, 20px, 100px) !important;
          transform: translate3d(390px, 20px, 100px) !important;
}
.header-main .swiper-slide-1, .header-main .swiper-slide-2 {
  position: relative;
  max-width: 350px;
  max-height: 490px;
}
.header-main .swiper-slide-1::after, .header-main .swiper-slide-2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(209, 169, 84, 0.85);
}
.header-main .swiper-slide-active {
  -webkit-transform: none !important;
          transform: none !important;
}
.header-main .swiper-slide-active .swiper-slide-1::after, .header-main .swiper-slide-active .swiper-slide-2::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background-color: rgba(209, 169, 84, 0);
}

.header-contacts {
  position: absolute;
  background: rgba(51, 51, 51, 0.75);
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(auto, 395px) 350px 40px 174px;
  -ms-grid-columns: 1fr;
      grid-template: minmax(auto, 395px) 350px 40px 174px/1fr;
  justify-items: center;
}
.header-contacts__text {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -ms-grid-row: 2;
  grid-row: 2;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  position: relative;
  padding-top: 120px;
}
.header-contacts__text::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  height: 80px;
  width: 3px;
  background-color: #C4C4C4;
  margin-left: -1.5px;
}
.header-contacts__links {
  -ms-grid-row: 4;
  grid-row: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-contacts__link {
  margin: 0 auto;
}
.header-contacts__link svg path {
  fill: #ffffff;
}
.header-contacts__link:hover svg path {
  fill: #D1A954;
  fill-opacity: 1;
}

/*________________________about-theatre__________________________*/
.about-theatre {
  height: 100%;
}
.about-theatre__title {
  padding: 150px 0 78px 0;
}
.about-theatre__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about-theatre__best-theatre {
  max-width: 445px;
  padding-right: 30px;
}
.about-theatre__body-title {
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.about-theatre__about-numbers {
  min-width: 194px;
  padding-right: 42px;
}
.about-theatre__icon {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}
.about-theatre__icon img {
  margin-bottom: 10px;
}
.about-theatre__icon-chaird {
  margin-bottom: 23px;
}
.about-theatre__icon-title {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
}
.about-theatre__image {
  height: 292px;
  min-width: 230px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #D1A954;
}

/*________________________our-partners__________________________*/
.our-works {
  padding-top: 150px;
  height: 1415px;
}
.our-works__title {
  margin-bottom: 78px;
}
.our-works__posters-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 89px;
  max-width: 100%;
}
.our-works__posters {
  height: 550px;
  width: 1772px;
}
.our-works__posters .swiper2 {
  width: 443px;
  height: 550px;
}
.our-works__posters .swiper-slide {
  display: block;
  width: 443px;
  height: 550px;
  position: relative;
}
.our-works__posters .swiper-slide::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.65);
}
.our-works__posters .swiper-slide:hover::after {
  background: url(../../img/svg/Vector.svg) no-repeat center #D1A954;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
}
.our-works__posters .swiper-slide:hover {
  background-size: 103%;
}
.our-works__posters .swiper-slide:hover span {
  display: none;
}
.our-works__posters .swiper-slide:hover p {
  display: none;
}
.our-works__posters .swiper-slide span {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  position: absolute;
  bottom: 40px;
  left: 40px;
}
.our-works__posters .swiper-slide p {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: absolute;
  left: 40px;
  top: 40px;
}
.our-works__best-theatre {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: url(../img/Rectangle\ 28.jpg) center/cover no-repeat;
  height: 611px;
  max-width: 1111px;
  min-width: 0;
  margin: 0 auto;
}
.our-works__best-theatre .overlay {
  width: 100%;
  height: 100%;
}
.our-works__body {
  padding: 187px 33px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.our-works__years {
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  max-width: 182px;
  margin-right: 103px;
}
.our-works__description {
  height: 198px;
  max-width: 430px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.our-works__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
  max-width: 230px;
  height: 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.our-works__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}

/*________________________theatre-partners__________________________*/
.theatre-partners {
  height: 100%;
  padding: 0 39px;
}
.theatre-partners__title {
  padding-top: 150px;
  margin-bottom: 117px;
}
.theatre-partners__logo {
  height: 209px;
  margin-bottom: 124px;
  overflow: hidden;
  max-width: 1110px;
  margin: 0 auto;
}
.theatre-partners__logo .swiper3 {
  width: 256px;
  height: 80px;
}
.theatre-partners__first-row {
  margin-bottom: 69px;
}
.theatre-partners__space-lab {
  padding-top: 20px;
  height: 40px;
}
.theatre-partners__avada-media {
  padding-top: 30px;
  height: 19.5px;
}

/*________________________become-patron__________________________*/
.become-patron {
  padding-top: 124px;
}
.become-patron__title {
  margin-bottom: 78px;
}
.become-patron__body {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: minmax(auto, 340px) 40px minmax(auto, 730px);
      grid-template: 1fr/minmax(auto, 340px) 40px minmax(auto, 730px);
  border-bottom: 1px solid #565656;
}
.become-patron__contacts {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 690px;
  width: 100%;
  height: 143px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.become-patron__contacts-column1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 59px;
}
.become-patron__contacts-column2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 59px;
}
.become-patron__form {
  -ms-grid-column: 3;
  grid-column: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px 40px minmax(50px, 1fr);
  -ms-grid-columns: 1fr;
      grid-template: 100px 40px minmax(50px, 1fr)/1fr;
}
.become-patron__form-row1 {
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: minmax(auto, 390px) 30px minmax(auto, 310px);
      grid-template: 1fr/minmax(auto, 390px) 30px minmax(auto, 310px);
}
.become-patron__form-column1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 35px 30px 35px;
  -ms-grid-columns: minmax(0, 1fr) 30px minmax(0, 1fr);
      grid-template: 35px 30px 35px/minmax(0, 1fr) 30px minmax(0, 1fr);
}
.become-patron__company {
  -ms-grid-column: 3;
  grid-column: 3;
}
.become-patron__phone {
  -ms-grid-row: 3;
  grid-row: 3;
}
.become-patron__e-mail {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 3;
  grid-column: 3;
}
.become-patron__form-input {
  border: 1px solid #616161;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #444444;
  height: 35px;
  color: #FFFFFF;
  padding-left: 15px;
}
.become-patron__form-column2 {
  -ms-grid-column: 3;
  grid-column: 3;
}
.become-patron__form-texteria {
  border: 1px solid #616161;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #444444;
  height: 100px;
  width: 100%;
  min-width: none;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 16px;
  padding-left: 15px;
  line-height: 30px;
}
.become-patron__form-texteria::-webkit-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 35px;
  color: #989898;
}
.become-patron__form-texteria::-moz-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 35px;
  color: #989898;
}
.become-patron__form-texteria:-ms-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 35px;
  color: #989898;
}
.become-patron__form-texteria::-ms-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 35px;
  color: #989898;
}
.become-patron__form-texteria::placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 35px;
  color: #989898;
}
.become-patron__form-row2 {
  -ms-grid-row: 3;
  grid-row: 3;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.become-patron__form-text {
  padding-right: 10px;
  max-width: 390px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
}
.become-patron__form-link {
  display: block;
  width: 190px;
  line-height: 50px;
  background: #D1A954;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.become-patron input::-webkit-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
}
.become-patron input::-moz-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
}
.become-patron input:-ms-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
}
.become-patron input::-ms-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
}
.become-patron input::placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
}

/*________________________footer__________________________*/
.footer .container {
  padding: 0 39px;
}
.footer__info {
  height: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #989898;
}
.footer__column1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
}
.footer__column2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  text-align: right;
}